<tr>
    <td><a href="/anime/<%= anime.id %>" target="_blank"><img width="100" height="150" src="<%= anime.coverImagePath %>"></a></td>
    <td><a href="/anime/<%= anime.id %>" target="_blank"><%= anime.title %></a></td>
    <td><%= anime.episodesCount %></td>
    <td><%= anime.status %></td>
    <td><%= anime.publishDate.toDateString() %></td>
    <td><%= anime.createdAt.toDateString() %></td>
    <td><a href="<%= anime.externalLink %>" target="_blank">Link</a></td>
</tr>
