<tr>
    <td><a href="/anime/<%= anime.id %>"><%= anime.title %></a></td>
    <td class="text-align-center"><%= anime.episodesCount %></td>
    <td class="text-align-center"><%= anime.status %></td>
    <td class="text-align-center"><%= anime.createdAt.toDateString() %></td>
    <td class="text-align-center"><a href="<%= anime.externalLink %>" target="_blank">Link</a></td>
</tr>
