<div class="form-row">
    <div class="form-item">
        <label>View Status</label>
        <select name="viewStatus">
            <option disabled selected>Select View Status</option>
            <option <% if (anime.viewStatus === "Watching") { %><%= "selected" %><% } %> label="Watching" value="Watching"></option>
            <option <% if (anime.viewStatus === "Watched") { %><%= "selected" %><% } %> label="Watched" value="Watched"></option>
            <option <% if (anime.viewStatus === "To Watch") { %><%= "selected" %><% } %> label="To Watch" value="To Watch"></option>
            <option <% if (anime.viewStatus === "Abandoned") { %><%= "selected" %><% } %> label="Abandoned" value="Abandoned"></option>
        </select>
    </div>
    <div class="form-item">
        <label>Created At *</label>
        <input type="date" name="createdAt"
               value="<%= anime.createdAt == null ? '' : anime.createdAt.toISOString().split('T')[0] %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Title *</label>
        <input type="text" name="title" value="<%= anime.title %>">
    </div>
    <div class="form-item">
        <label>Episodes *</label>
        <input type="number" name="episodesCount" min="1" value="<%= anime.episodesCount %>">
    </div>
    <div class="form-item">
        <label>Status *</label>
        <select name="status">
            <option disabled selected>Select Status</option>
            <option <% if (anime.status === "Out") { %><%= "selected" %><% } %> label="Out" value="Out"></option>
            <option <% if (anime.status === "Ongoing") { %><%= "selected" %><% } %> label="Ongoing" value="Ongoing"></option>
            <option <% if (anime.status === "Announced") { %><%= "selected" %><% } %> label="Announced" value="Announced"></option>
        </select>
    </div>
</div>
<div class="form-row">
    <div class="form-item">
        <label>Publish Date *</label>
        <input type="date" name="publishDate"
               value="<%= anime.publishDate == null ? '' : anime.publishDate.toISOString().split('T')[0] %>">
    </div>
    <div class="form-item">
        <label>Source</label>
        <input type="text" name="source" value="<%= anime.source %>">
    </div>
    <div class="form-item">
        <label>Link</label>
        <input type="text" name="externalLink" value="<%= anime.externalLink %>">
    </div>
</div>
<div class="form-row">
    <div class="form-item form-item-no-grow">
        <label>Cover *</label>
        <input type="file" name="cover" class="filepond">
    </div>
    <div class="form-item">
        <label>Description</label>
        <textarea name="description"><%= anime.description %></textarea>
    </div>
</div>
