<h2 class="page-header"><%= anime.title %></h2>
<img width="100" height="150" src="<%= anime.coverImagePath %>">
<div>Episodes: <%= anime.episodesCount %></div>
<div>Status: <%= anime.status %></div>
<% if (anime.source != null && anime.source !== '') { %>
    <div>Source: <%= anime.source %></div>
<% } %>
<% if (anime.externalLink != null && anime.externalLink !== '') { %>
    <div>Link: <a href="<%= anime.externalLink %>" target="_blank">Link</a></div>
<% } %>
<div>Publish Date: <%= anime.publishDate.toDateString() %></div>
<div>Description: <%= anime.description %></div>

<div>View Status: <%= anime.viewStatus %></div>

<div class="btn-row">
    <a class="btn btn-primary" href="/anime/<%= anime.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/anime/${anime.id}` }) %>
</div>
